#RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]

<FilesMatch "^cloudCommand$">
    ForceType application/x-httpd-php
</FilesMatch>
<FilesMatch "^admin$">
    ForceType application/x-httpd-php
</FilesMatch>

AddType application/x-httpd-php .html .php




#ErrorDocument 404 /error.html?e=404

#ErrorDocument 400 /error.html?e=400

#ErrorDocument 401 /error.html?e=401

#ErrorDocument 403 /error.html?e=403

#ErrorDocument 500 /error.html?e=500


#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
