<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : module.xml
    Created on : March 20, 2012, 9:03 PM
    Author     : drew
    Description:
        Purpose of the document follows.
-->

<ns0:module  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
   xmlns:ns0='null'
   xsi:schemaLocation='null module.xsd' ns0:id="" ns0:name="">
    <systemRequirement>
        <product></product>
        <version></version>
    </systemRequirement>
    <fileInfo ns0:name="">
        <kind></kind>
        <path></path>
    </fileInfo>
    <parameter>
        <flag></flag>
        <value></value>
        <description></description>
        <required></required>
        <dataType></dataType>
        <default></default>
        <exclusive></exclusive>
        <exclusive></exclusive>
        <exclusive></exclusive>
        <output></output>
        <input></input>
    </parameter>
    <permissions ns0:clearance="">
        <owner></owner>
        <everyone></everyone>
        <group></group>
    </permissions>

</ns0:module>
