/* 
    Document   : main
    Created on : Apr 16, 2012, 9:50:12 AM
    Author     : dclinkenbeard
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

 html {
    /*display:inline;*/
    height: 100%;
    width: 100%;
    margin:0; 
    padding:0;
    font-family: Arial,sans-serif;
}
body {
    /*display:inline;*/
    height: 100%;
    width: 100%;
    margin:0; 
    padding:0; 
}
div {
    overflow:scroll;
}

#mainContainer {
height: 83%;
padding-top: 2px;
padding-bottom: 2px;
}

#lab_container {
    height: 100%;
}
#admin_container {
    height: 100%;
}
#settings_container {
    height: 100%;
}
.cs_accordian{
    height: 50%;
}
#collections {
   display: block;
   width: 35%;
   height: 100%;
   float: left;                   
   background-color:#D2E0E6;
   color: #c00;
   margin: 3px;
   border:2% solid white;
   border-radius:15px;
   -moz-border-radius:15px;
}

#adminSection {
    display: block;
    width: 98%;
    height: 100%;
    float: left;
    background-color:#D2E0E6;
    color: #c00;
    border-color: white;
    margin: 2px;
    margin-left: 0px;
    border-radius:15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
}
.admin-content {
    width: 86%;
    height: 15%;
    /*float: right;*/
    background-color:white;
    color: #c00;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
    margin-left: 6%;
    padding-left: 1%;
}
#settingsSection {
    display: block;
    width: 98%;
    height: 100%;
    float: left;
    background-color:#D2E0E6;
    color: #c00;
    border-color: white;
    margin: 2px;
    margin-left: 0px;
    border-radius:15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
}
.settings-content {
    width: 86%;
    height: 15%;
    /*float: right;*/
    background-color:white;
    color: #c00;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
    margin-left: 6%;
    padding-left: 1%;
}
#lab {
    display: block;
    width: 64%;
    height: 100%;
    float: left;
    background-color:#D2E0E6;
    color: #c00;
    border-color: white;
    margin: 2px;
    margin-left: 0px;
    border-radius:15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */

}
.lab-content {
    width: 85%;
    /*height: 15%;*/
    float: left;
    background-color:white;
    color: #c00;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;

}

#status-bar {
    display: block;
    width: 100%;
    height: 10%;
    float: right;
    background-color: #D2E0E6;
    margin: 0px auto;
    margin-top: 0px;
    border:2% solid white;
    border-radius:15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
}
.status-bar-item{
    min-width: 10%;
    float: left;
    background-color:white;
    color: #c00;
    padding:3px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
}

#task-bar {
    display: block;
    width: 98%;
    height: 5%;
    /*float: right;*/
    background-color: #D2E0E6;
    padding: 5px;
    margin: 2px auto;
    margin-top: 0px;
    border:2% solid white;
    border-radius:15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
}
#taskBarAlert {
    
    background-color: #ffff00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #ff0000;
}

.task-bar-item {
    width: 10%;
    float: left;
    background-color:white;
    color: #c00;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
}

.login-item {
    background-color:white;
    color: #c00;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    width:33%;
    margin-left:66%;
    background-position: right;
}
.login-button {
    width: 10%;
    float: left;
    margin-left: 89%;
}

.logged-in-item {
    background-color:white;
    color: #c00;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    width:33%;
    margin-left:66%;
    background-position: right;
}

.overlay {
    margin: 5px;
    border-radius: 15px;
}

#username {
    float: right;
    background-color:white;
    color: #c00;
    margin: 5px;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 15px;
    text-align: center;
}
#username:hover {
    font-style: italic;
    color: white;
    background-color: #c00;
}

button {
    padding: 10px;
}

div.clicked {
    background-color: gray;
}
div.csshadow {
    -moz-box-shadow: 4px 4px 10px #888;  
    -webkit-box-shadow: 4px 4px 10px #888;  
    box-shadow:4px 4px 6px #888;
}
div.module {
    background-color: #D2E0E6;
    border-radius: 15px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
}

div.ChiSelected{
    font-style: italic;
    color: white;
    background-color: #c00;
}

div.chiClick:hover{
    font-style: italic;
    color: white;
    background-color: #c00;
}

#test {
    
}

div.testContent {
    width: 86%;
    /*height: 15%;*/
    /*float: right;*/
    background-color:white;
    color: #c00;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
    margin-left: 6%;
    padding-left: 1%;
}

.newLabForm {
 padding-right: 5px;
 padding-left: 10px;
 width: 85%;
 text-align: left;
}

.moduleInput {
    display:none;
}

.labButton {
    float:right;
    opacity:0.1;
}

.labButton:hover {
    text-decoration:underline;
    opacity:1;
}

.modButton {
    background-color: #D2E0E6;
    float:right;
    opacity:1;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    -moz-border-radius:15px; /* Firefox 3.6 and earlier */
    margin-right: 6%;
    padding-right: 1%;
}

.modButton:hover {
    text-decoration:underline;
    opacity:1;
}
.modTitle {
    
    text-align: center;
    text-decoration: underline;
}
#dialog_hider {
    display: none;
}

